* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue:hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--Cream);
}
.picture img.desktop{
    display: none;
}
.picture img{
    width: 100%;
    border-radius: 12px 12px 0 0;
}
section{
    border-radius: 12px;
    background-color: var(--White);
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section .info{
    padding: 27px;
}
section .info p:first-child{
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    font-family: "Montserrat", arial;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}
section .info p:last-of-type{
    color: var(--Dark-grayish-blue);
    font-family: "Montserrat", arial;
    font-weight: 500;
    font-size: 14px;
    margin: 16px 0;
    line-height: 1.5em;
}
section .info h1{
    font-size: 2em;
    font-family: "Fraunces", arial;
    line-height: 1em;
    color: var(--Very-dark-blue);
}
section .info h2{
    color: var(--Dark-cyan);
    font-size: 2em;
    font-family: "Fraunces", arial;
    display: flex;
    align-items: center;
}
section .info span{
    color: var(--Dark-grayish-blue);
    font-family: "Montserrat", arial;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
}
section button{
    width: 100%;
    border: none;
    background-color: var(--Dark-cyan);
    border-radius: 8PX;
    padding: 15px;
    color: var(--White);
    font-family: "Montserrat", arial;
    font-weight: 700;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}
section button img{
    margin-right: 10px;
}
section button:hover{
    background-color: var(--Very-dark-blue);
}
@media screen and (min-width: 1440px){
    .picture img.desktop{
        display: block;
        border-radius: 12px 0 0 12px;
    }
    .picture img.mobile{
        display: none;
    }
    section{
        display: flex;
        width: 580px;
    }
    section .info h1{
        width: 210px;
        margin: 18px 0;
    }
    section .info p:first-child{
        font-size: 0.8em;
        font-weight: 700;
    }
    section .info p:last-of-type{
        font-size: .9em;
        width: 250px;
    }
}
